.background-image {
  background-image: url("https://images.unsplash.com/photo-1518531933037-91b2f5f229cc");
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
}
